.pokeball {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 100%;
    color: #fff;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #f00 40%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 60%, #efefef 40%);
    cursor: pointer;

    &-title {
        font-size: 19px;
        padding-bottom: 4px;
        text-transform: capitalize;
    }

    &:hover {
        transform: rotate(30deg);
        transition: transform .2s ease-in-out;
    }
}